<div style="background:#fff">
  <div class="container">
    <div id="projects" class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h4 class="section-name">Projects</h4>
          </div>
        </div>
        <div class="row projects-row">
          <div class="col-md-4">
            <h4 class="text-center">DockerSwarm UI <span class="btn btn-success btn-xs">Web UI</span></h4>
            <img src="assets/images/projects/dockerswarm-ui.png" width="100%">
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Dockerboard <span class="btn btn-success btn-xs">Web UI</span></h4>
            <img src="assets/images/projects/dockerboard.png" width="100%">
          </div>
          <div class="col-md-4">
            <h4 class="text-center">PAM QRCode <span class="btn btn-primary btn-xs">Linux/Unix</span></h4>
            <img src="assets/images/projects/pamqrcode.png" width="100%">
          </div>
        </div>
        <div class="row projects-row">
          <div class="col-md-4">
            <h4 class="text-center">Docker Registry <span class="btn btn-warning btn-xs">Chrome Extension</span></h4>
            <img src="assets/images/projects/docker-registry.png" width="100%">
          </div>
          <div class="col-md-4">
            <h4 class="text-center">CCVRP <span class="btn btn-danger btn-xs">Web Site</span></h4>
            <img src="assets/images/projects/ccvrp.jpg" width="100%">
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Daily Quotes <span class="btn btn-success btn-xs btn-android">Android</span></h4>
            <img src="assets/images/projects/daily-quotes.png" width="100%">
          </div>
        </div>
        <div class="row projects-row">
          <div class="col-md-4">
            <h4 class="text-center">Nao <span class="btn btn-success btn-xs btn-iot">IoT</span></h4>
            <img src="assets/images/projects/nao.jpg" width="100%">
          </div>
          <div class="col-md-4">
            <div class="more-projects text-center">
            <a href="http://www.github.com/mlabouardy" target="_blank">More Projects</a> <span><i class="fa fa-arrow-right" style="font-size:25px;" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
