<div style="background:#FFF">
  <div class="container">
    <div id="skills" class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h4 class="section-name">Skills</h4>
        </div>
      </div>
      <div class="row skills-row">
        <div class="col-md-3">
          <div class="skill text-center">
            <div>Tests</div>
          </div>
          <canvas id="testing"></canvas>
        </div>
        <div class="col-md-3">
          <div class="skill text-center">
            <div>Web</div>
          </div>
          <canvas id="web"></canvas>
        </div>
        <div class="col-md-3">
          <div class="skill text-center">
            <div>DevOps</div>
          </div>
          <canvas id="devops"></canvas>
        </div>
        <div class="col-md-3">
          <div class="skill text-center">
            <div>Databases</div>
          </div>
          <canvas id="databases"></canvas>
        </div>
      </div>
      <div class="row skills-row">
        <div class="col-md-3">
          <div class="skill text-center">
            <div>Programming</div>
          </div>
          <canvas id="programming"></canvas>
        </div>
        <div class="col-md-6">
          <div class="skill text-center">
            <div>Mobile</div>
          </div>
          <canvas id="mobile"></canvas>
        </div>
        <div class="col-md-3">
          <div class="skill text-center">
            <div>Languages</div>
          </div>
          <canvas id="languages"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
